<div class="item">

	<a href="<%= home_path(category) %>" class="link-ticket">
		<div class="img-item">
		   <%= image_tag( category.image.url(:thumb), width: "100%") %>
		</div>
		<div class="title-ticket">
			<%= category.name_category	%>
		</div>
	</a>
	<div class="rate-ticket">
		<div class="line-ticket"></div>
		<div class="rate-item-ticket">
			<span>100% Complete</span>
			<ul>
				<li class="rate-item"><i class="fas fa-star"></i></li>
				<li class="rate-item"><i class="fas fa-star"></i></li>
				<li class="rate-item"><i class="fas fa-star"></i></li>
				<li class="rate-item"><i class="fas fa-star"></i></li>
				<li class="rate-item"><i class="fas fa-star"></i></li>
			</ul>
		</div>
		<div class="rate-ticket-text">
			Your rating
		</div>
	</div>
</div>
