
<%= render  "layouts/menu" %>
  <div class="content-form">
    <div class="user-information">
      <div class="menu-user">
        <ul class="list-group">
          <li class="list-group-item active">Category</li>
          <%= render partial:  "category_list", collection: Category.all.where(delete_at: nil), as: "category"  %>
        </ul>
      </div>

        <div class="show-ticket-infor">
        <%= render partial: "list_ticket_item", collection: @tickets, as: "ticket" %>
        
        </div>
      </div>
     
    </div>
  </div>


<%= render  "layouts/footer" %>