<div class="row-ticket-show">
  
  <div class="item-ticket">
    <%= link_to ticket.name_ticket, example_index_path(:code => ticket.id), data: { confirm: "Are you sure example?" } %>
  </div>
  <div class="home-btn-ticket">
    <%= link_to  "Exam", example_index_path(:code => ticket.id), class: "btn btn-danger", data: { confirm: "Are you sure example?" } %>
  </div>
</div>