<div class="item">
	<div class="rate-navbar">
		<ul>
			<li class="nav-item dropdown">
        <label class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </label>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Add wishlist</a>
          <a class="dropdown-item" href="#">Example</a>
        </div>
      </li>
		</ul>
	</div>
	<a href="<%= home_path(category) %>" class="link-ticket">
		<div class="img-item">
		  <%= image_tag( category.image.url(:thumb), width: "100%") %>
		</div>
		<div class="title-ticket">
			<%= category.name_category	%>
		</div>
	</a>
	<div class="rate-ticket">
		<div class="line-ticket"></div>
		<div class="rate-item-ticket">
			<span>100% Complete</span>
			<ul>
				<li class="rate-item"><i class="fas fa-star"></i></li>
				<li class="rate-item"><i class="fas fa-star"></i></li>
				<li class="rate-item"><i class="fas fa-star"></i></li>
				<li class="rate-item"><i class="fas fa-star"></i></li>
				<li class="rate-item"><i class="fas fa-star"></i></li>
			</ul>
		</div>
		<div class="rate-ticket-text">
			Your rating
		</div>
	</div>
</div>
