<div class="form-group">
  <div class="answer-row">
    <div class="option-value-ans">
      <label>Question: 
        <%= question.question %>
      </label>
    </div>
    <div class="link-ans">
      <%= link_to  "<i class=\"fa fa-pencil-alt\"></i>".html_safe, creator_question_change_path(code: question) %> |
      <%= link_to  "<i class=\"fa fa-trash-alt\"></i>".html_safe, "" %>
    </div>
  </div>
</div>
<%= render partial: "form_ans", collection: Question.find(question.id).answers, as: "answer" %>