<div class="ticket-answer-item">
  <input class="check-ticket" type="checkbox" name="value-ticket" value="<%= answer.id %>" id="<%= answer.id %>">
  <label for="<%= answer.id %>"><%= answer.option_value %></label>
</div>