
<%= render  "layouts/menu" %>
  <div class="content">
    <div class=user-information>
      <div class="menu-user">
      <% if current_user.user_type.empty? %>
        <%= render  "layouts/user-menu" %>
      <% else %>
        <%= render  "layouts/user-menu" %>
      <% end %>
      </div>
      <div class="show-infor-user">
        <div class="show-user-btn">
          
        </div>
        <div class="show-infor">
          <h2>Thank you for registering to become a creator!</h2>
        </div>
      </div>
    </div>
  </div>
<%= render  "layouts/footer" %>


