<ul class="list-group">
  <li class="list-group-item active">
    <h6>Participant menu</h6>
  </li>
  <li class="list-group-item">
    <%= link_to  "Histories", paticipant_history_path %>
  </li>
</ul>